@use './button-base';

// Waiting
//
.mat-button,
.mat-flat-button,
.mat-stroked-button,
.mat-raised-button,
.mat-icon-button {
  &.mtx-button-waiting {
    .mat-button-wrapper {
      display: none;
    }

    .mtx-waiting-container {
      align-items: center;
      display: flex;

      &::before {
        content: '\00a0';
      }
    }

    &.mtx-waiting-message {
      .mtx-message {
        margin-left: 8px;
      }
    }
  }
}

.mat-fab,
.mat-mini-fab {
  &.mtx-button-waiting {
    .mat-button-wrapper {
      display: none !important;
    }

    .mat-spinner {
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
    }
  }
}

// Rounded
//
button.mtx-button-rounded {
  @include button-base.rounded-button(default);

  &.mtx-button-small {
    @include button-base.rounded-button(small);
  }

  &.mtx-button-large {
    @include button-base.rounded-button(large);
  }
}

// Small
//
.mat-button,
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  &.mtx-button-small {
    @include button-base.button-size(small, 0.75);
  }
}

// Large
//
.mat-button,
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  @include button-base.button-size(large);
}
