@use '@angular/material';
@use '../../components/button/waiting/button-waiting'; // TODO:
@use '../../components/button/rounded/button-rounded'; // TODO:
@use '../../components/button/small/button-small'; // TODO:
@use '../../components/button/large/button-large'; // TODO:

@include material.core();

$light-primary: material.define-palette(material.$indigo-palette);
$light-accent: material.define-palette(material.$pink-palette);
$light-theme: material.define-light-theme((
 color: (
   primary: $light-primary,
   accent: $light-accent,
 )
));

@include material.all-component-themes($light-theme);
