.mat-button,
.mat-flat-button,
.mat-stroked-button,
.mat-raised-button,
.mat-icon-button {
  &.mtx-button-waiting {
    .mat-button-wrapper {
      display: none;
    }

    .mtx-waiting-container {
      align-items: center;
      display: flex;

      &::before {
        content: '\00a0';
      }
    }

    &.mtx-waiting-message {
      .mtx-message {
        margin-left: 8px;
      }
    }
  }
}

.mat-fab,
.mat-mini-fab {
  &.mtx-button-waiting {
    .mat-button-wrapper {
      display: none !important;
    }

    .mat-spinner {
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
    }
  }
}
